{% extends "base.html" %}
{% block title %}
  Винотека
{% endblock %}
{% block content %}
<h2 class="text-center">Полка с винными напитками</h2>
<br>
  <div class="row">
    {% for v in object_list %}
      <div class="col-md-4 mb-5">
        <article>
          {% include "includes/vine_card.html" %}
        </article>
      </div>
      {% if forloop.counter|divisibleby:3 and not forloop.last %}
        </div><div class="row">
      {% endif %}
    {% endfor %}
  </div>
  {% include "includes/paginator.html" %}
{% endblock %}